<html>

<head>
    <!--Load the AJAX API-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
    <noscript>
        <meta http-equiv="refresh" content="0;URL=@Url.Action("NoScript", "Error")" />
    </noscript>
    <div class="bs-container" style="min-height:960px;">
        <section class="content-header">
            <h1>
                Dashboard
                <small>(Admin)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"> <i class="fa fa-dashboard"></i> Inicio </a></li>
                <li> <a href="#">Analisis</a></li>
                <li class="active"> Graficas </li>
            </ol>
        </section>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h5 class="box-title">
                            <label class="text-success emailtitleletter">
                                <i class="text-success"></i>
                                Bienvenido: @ViewBag.Usuario
                            </label>&nbsp;

                        </h5>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                Progreso General                                                
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <canvas id="chLineMetas" style="height:100px;"></canvas>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <canvas id="chRadarMetas" style="height:100px;"></canvas>
                                                </div>
                                            </div>                                         
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                Progreso de Multinivel
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <canvas id="chBarMultinivel" style="width:50px;height:60px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                Cumplimiento de Multinivel
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <h4 class="control-sidebar-subheading">
                                                Progreso
                                                <span class="pull-right-container">
                                                    <span class="label label-danger pull-right" id="metaMultinivel"></span>
                                                </span>
                                            </h4>
                                            <div class="progress progress-xxs">
                                                <div class="progress-bar progress-bar-danger" id="progresoMultinivel">
                                                </div>
                                            </div>
                                            Prioridad
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div id="boxRedMultinivel" title="Prioridad Alta">

                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div id="boxYellowMultinivel" title="Prioridad Media">

                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div id="boxGreenMultinivel"  title="Prioridad Baja">
                                                        
                                                    </div>
                                                </div>
                                            </div>                                 
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                Progreso de Planilla Ganadora
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <canvas id="chBarPlanillaGanadora" style="width:50px;height:60px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                Cumplimiento de Planilla Ganadora
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <h4 class="control-sidebar-subheading">
                                                Progreso

                                                <span class="pull-right-container">
                                                    <span class="label label-danger pull-right" id="metaPlanilla"></span>
                                                </span>
                                            </h4>
                                            <div class="progress progress-xxs">
                                                <div class="progress-bar progress-bar-danger" id="progresoPlanilla">

                                                </div>
                                            </div>
                                            Prioridad
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div id="boxRedPlantilla" title="Prioridad Alta">

                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div id="boxYellowPlantilla" title="Prioridad Media">

                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div  id="boxGreenPlantilla" title="Prioridad Baja">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                Progreso de Campaña
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <canvas id="chBarCampaña" style="width:50px;height:60px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                Cumplimiento de Campaña
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <h4 class="control-sidebar-subheading">
                                                Progreso

                                                <span class="pull-right-container">
                                                    <span class="label label-danger pull-right" id="metaCampaña"></span>
                                                </span>
                                            </h4>
                                            <div class="progress progress-xxs">
                                                <div class="progress-bar progress-bar-danger" id="progresoCampaña">

                                                </div>
                                            </div>
                                            Prioridad
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div id="boxRedCampaña" title="Prioridad Alta">

                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div id="boxYellowCampaña" title="Prioridad Media">

                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div id="boxGreenCampaña" title="Prioridad Baja">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                Progreso de en Campaña
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <canvas id="chBarEnCampaña" style="width:50px;height:60px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                Cumplimiento de en Campaña
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <h4 class="control-sidebar-subheading">
                                                Progreso

                                                <span class="pull-right-container">
                                                    <span class="label label-danger pull-right" id="metaEnCampaña"></span>
                                                </span>
                                            </h4>
                                            <div class="progress progress-xxs">
                                                <div class="progress-bar progress-bar-danger" id="progresoEnCampaña">

                                                </div>
                                            </div>
                                            Prioridad
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div id="boxRedEnCampaña" title="Prioridad Alta">

                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div id="boxYellowEnCampaña" title="Prioridad Media">

                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div id="boxGreenEnCampaña" title="Prioridad Baja">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                               Progreso de Redes Sociales
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <canvas id="chBarRedesSociales" style="width:50px;height:60px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                Cumplimiento de Redes Sociales
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <h4 class="control-sidebar-subheading">
                                                Progreso

                                                <span class="pull-right-container">
                                                    <span class="label label-danger pull-right" id="metaRed"></span>
                                                </span>
                                            </h4>
                                            <div class="progress progress-xxs">
                                                <div class="progress-bar progress-bar-danger" id="progresoRed">

                                                </div>
                                            </div>
                                              Prioridad
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div id="boxRedRedes" title="Prioridad Alta">

                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div id="boxYellowRedes" title="Prioridad Media">

                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <div id="boxGreenRedes" title="Prioridad Baja">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script>
   
    
    $(document).ready(function () {

        var ctxMetas = document.getElementById('chLineMetas').getContext('2d');
        var ctxMetasRadar = document.getElementById('chRadarMetas').getContext('2d');

        var ctxMultinivel = document.getElementById('chBarMultinivel').getContext('2d');
        var ctxPlanillaGanadora = document.getElementById('chBarPlanillaGanadora').getContext('2d');
        var ctxCampaña = document.getElementById('chBarCampaña').getContext('2d');
        var ctxEnCampaña = document.getElementById('chBarEnCampaña').getContext('2d');
        var ctxRedesSociales = document.getElementById('chBarRedesSociales').getContext('2d');

        $.getJSON("/Meta/GetMovilizados").done((response) => {

            console.log(response)  

            var Metas = new Chart(ctxMetas, {
                type: 'line',
                data: {
                    labels: ['Multinivel',"Planilla Ganadora","Campaña","En Campaña","Redes Sociales"],
                    datasets: [{
                        label: ['Balance General'],
                        data: [response[1][0],response[1][1],response[1][2],response[1][3],response[1][4]],
                        backgroundColor: [
                            'rgba(236, 112, 99, 0.2)',
                            'rgba(165, 105, 189, 0.2)',
                            'rgba(93, 173, 226, 0.2)',
                            'rgba(69, 179, 157, 0.2)',
                            'rgba(88, 214, 141 , 0.2)',
                        ],
                        borderColor: [
                            'rgba(236, 112, 99, 1)',
                            'rgba(165, 105, 189, 1)',
                            'rgba(93, 173, 226, 1)',
                            'rgba(69, 179, 157, 1)',
                            'rgba(88, 214, 141 , 1)',
                        ],
                        borderWidth: 2
                    }]
                }
            });

            var MetasRadar = new Chart(ctxMetasRadar, {
                type: 'radar',
                data: {
                    labels: ['Multinivel', 'Planilla', 'Campaña', 'Equipo de Trabajo', 'Redes Sociales'],
                    datasets: [
                        {
                        label: [ "Fuente de Votos"],
                        data: [response[1][0],response[1][1],response[1][2],response[1][3],response[1][4]],
                        backgroundColor: [
                            'rgba(93, 173, 226, 0.2)',
                            'rgba(93, 173, 226, 0.2)',
                            'rgba(93, 173, 226, 0.2)',
                            'rgba(93, 173, 226, 0.2)',
                            'rgba(93, 173, 226, 0.2)',
                        ],
                        borderColor: [
                            'rgba(93, 173, 226, 1)',
                            'rgba(93, 173, 226, 1)',
                            'rgba(93, 173, 226, 1)',
                            'rgba(93, 173, 226, 1)',
                            'rgba(93, 173, 226, 1)',
                        ],
                    }]
                },
            });

            var Multinivel = new Chart(ctxMultinivel, {
                type: 'bar',
                data: {
                    labels: ['Objetivo', 'Actual'],
                    datasets: [{
                        label: 'Objetivo',
                        data: [response[0][0], response[1][0]],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            var PlanillaGanadora = new Chart(ctxPlanillaGanadora, {
                type: 'bar',
                data: {
                    labels: ['Objetivo', 'Actual'],
                    datasets: [{
                         label: 'Objetivo',
                        data: [response[0][1], response[1][1]],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            var Campaña = new Chart(ctxCampaña, {
                type: 'bar',
                data: {
                     labels: ['Objetivo', 'Actual'],
                    datasets: [{
                         label: 'Objetivo',
                        data: [response[0][2], response[1][2]],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            var EnCampaña = new Chart(ctxEnCampaña, {
                type: 'bar',
                data: {
                    labels: ['Objetivo', 'Actual'],
                    datasets: [{
                         label: 'Objetivo',
                        data: [response[0][3], response[1][3]],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            var RedesSociales = new Chart(ctxRedesSociales, {
                type: 'bar',
                data: {
                    labels: ['Objetivo', 'Actual'],
                    datasets: [{
                         label: 'Objetivo',
                        data: [response[0][4], response[1][4]],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            setPriority(response);
        });


        function setPriority(response)
        {

            let priorityMultinivel = [];
            let priorityPlantilla = [];
            let priorityCampaña = [];
            let priorityEnCampaña = [];
            let priorityRedes = [];

            priorityMultinivel[0] = response[0][0] * .25;
            priorityMultinivel[1] = response[0][0] * .50;
            priorityMultinivel[2] = response[0][0] * .75;

            priorityPlantilla[0] = response[0][1] * .25;
            priorityPlantilla[1] = response[0][1] * .50;
            priorityPlantilla[2] = response[0][1] * .75;

            priorityCampaña[0] = response[0][2] * .25;
            priorityCampaña[1] = response[0][2] * .50;
            priorityCampaña[2] = response[0][2] * .75;

            priorityEnCampaña[0] = response[0][3] * .25;
            priorityEnCampaña[1] = response[0][3] * .50;
            priorityEnCampaña[2] = response[0][3] * .75;

            priorityRedes[0] = response[0][4] * .25;
            priorityRedes[1] = response[0][4] * .50;
            priorityRedes[2] = response[0][4] * .75;


            let progres = 100 * response[1][0] / response[0][0];
            $('#metaMultinivel').text(Math.trunc(progres)+"%");
            $('#progresoMultinivel').css("width", progres+"%");

            progres = 100 * response[1][1] / response[0][1];   
            $('#metaPlanilla').text(Math.trunc(progres)+"%");
            $('#progresoPlanilla').css("width", progres+"%");

            progres = 100 * response[1][2] / response[0][2];       
            $('#metaCampaña').text(Math.trunc(progres)+"%");
            $('#progresoCampaña').css("width", progres+"%");

            progres = 100 * response[1][3] / response[0][3];       
            $('#metaEnCampaña').text(Math.trunc(progres)+"%");
            $('#progresoEnCampaña').css("width", progres+"%");

            progres = 100 * response[1][4] / response[0][4];       
            $('#metaRed').text(Math.trunc(progres)+"%");
            $('#progresoRed').css("width",progres+"%");
  

            //Multinivel
            if (response[1][0] < priorityMultinivel[0]) {
                $('#boxRedMultinivel').addClass("boxRed");
                $('#boxYellowMultinivel').addClass("boxDefault");
                $('#boxGreenMultinivel').addClass("boxDefault");
            }else  if (response[1][0] >= priorityMultinivel[0] && response[1][0] < priorityMultinivel[1]) {
                $('#boxRedMultinivel').addClass("boxDefault");
                $('#boxYellowMultinivel').addClass("boxYellow");
                $('#boxGreenMultinivel').addClass("boxDefault");
            }else  if (response[1][0] >= priorityMultinivel[2]) {
                $('#boxRedMultinivel').addClass("boxDefault");
                $('#boxYellowMultinivel').addClass("boxDefault");
                $('#boxGreenMultinivel').addClass("boxGreen");
            }

            //PlanillaGanadora
            if (response[1][1] < priorityPlantilla[0]) {
                $('#boxRedPlantilla').addClass("boxRed");
                $('#boxYellowPlantilla').addClass("boxDefault");
                $('#boxGreenPlantilla').addClass("boxDefault");
            }else  if (response[1][1] >= priorityPlantilla[0] && response[1][1] < priorityPlantilla[1]) {
                $('#boxRedPlantilla').addClass("boxDefault");
                $('#boxYellowPlantilla').addClass("boxYellow");
                $('#boxGreenPlantilla').addClass("boxDefault");
            }else  if (response[1][1] >= priorityPlantilla[2]) {
                $('#boxRedPlantilla').addClass("boxDefault");
                $('#boxYellowPlantilla').addClass("boxDefault");
                $('#boxGreenPlantilla').addClass("boxGreen");
            }

            //Campaña
            if (response[1][2] < priorityCampaña[0]) {
                $('#boxRedCampaña').addClass("boxRed");
                $('#boxYellowCampaña').addClass("boxDefault");
                $('#boxGreenCampaña').addClass("boxDefault");
            }else  if (response[1][2] >= priorityCampaña[0] && response[1][2] < priorityCampaña[1]) {
                $('#boxRedCampaña').addClass("boxDefault");
                $('#boxYellowCampaña').addClass("boxYellow");
                $('#boxGreenCampaña').addClass("boxDefault");
            }else  if (response[1][2] >= priorityCampaña[2]) {
                $('#boxRedCampaña').addClass("boxDefault");
                $('#boxYellowCampaña').addClass("boxDefault");
                $('#boxGreenCampaña').addClass("boxGreen");
            }

            //EnCampaña
            if (response[1][3] < priorityEnCampaña[0]) {
                $('#boxRedEnCampaña').addClass("boxRed");
                $('#boxYellowEnCampaña').addClass("boxDefault");
                $('#boxGreenEnCampaña').addClass("boxDefault");
            }else  if (response[1][3] >= priorityEnCampaña[0] && response[1][3] < priorityEnCampaña[1]) {
                $('#boxRedEnCampaña').addClass("boxDefault");
                $('#boxYellowEnCampaña').addClass("boxYellow");
                $('#boxGreenEnCampaña').addClass("boxDefault");
            }else  if (response[1][3] >= priorityEnCampaña[2]) {
                $('#boxRedEnCampaña').addClass("boxDefault");
                $('#boxYellowEnCampaña').addClass("boxDefault");
                $('#boxGreenEnCampaña').addClass("boxGreen");
            }

             //Redes
            if (response[1][4] < priorityRedes[0]) {
                $('#boxRedRedes').addClass("boxRed");
                $('#boxYellowRedes').addClass("boxDefault");
                $('#boxGreenRedes').addClass("boxDefault");
            }else  if (response[1][4] >= priorityRedes[0] && response[1][4] < priorityRedes[1]) {
                $('#boxRedRedes').addClass("boxDefault");
                $('#boxYellowRedes').addClass("boxYellow");
                $('#boxGreenRedes').addClass("boxDefault");
            }else  if (response[1][4] >= priorityRedes[2]) {
                $('#boxRedRedes').addClass("boxDefault");
                $('#boxYellowRedes').addClass("boxDefault");
                $('#boxGreenRedes').addClass("boxGreen");
            }

        }
           
    });

</script>