
<div class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Progreso de Redes Sociales
                <div class="box-tools pull-right">
                    <i class="fas fa-print"></i>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <canvas id="chBarRedesSociales" style="width:50px;height:60px;"></canvas>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Cumplimiento de Redes Sociales
            </div>
        </div>
        <div class="panel-body">
            <h4 class="control-sidebar-subheading">
                Progreso

                <span class="pull-right-container">
                    <span class="label label-danger pull-right" id="metaRed"></span>
                </span>
            </h4>
            <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" id="progresoRed">

                </div>
            </div>
            Prioridad
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div id="boxRedRedes" title="Prioridad Alta">

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div id="boxYellowRedes" title="Prioridad Media">

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div id="boxGreenRedes" title="Prioridad Baja">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>