@model AdminCampana_2020.ViewModels.UsuarioVM

@Html.HiddenFor(model => model.Id)
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label>¿Está seguro que desea eliminar al usuario?</label>
            @Html.TextBoxFor(model => model.Nombres, null, new { @class = "form-control  input-sm", @readonly = "" })
        </div>
    </div>
</div>


