<div class="">

</div>
<div id="eventos">

</div>


<script>

    $(function () {
        $.getJSON('/').done((response) => {

            for (var i = 0; i < response.length; i++) {

                let 

            }

        });
    });

</script>
